.box{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    background-color: #F4f4f4;
    border-radius: 10px;
    
}

.box:hover{
    background-color: #F6f6f6;
}

.smallbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    justify-content: center;
    flex: 5;
}

.smallbox span{
    margin-left: 8px;
    color: gray;
}

.smallbox button{
    color: black;
    font-size: 14pt;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}

.buttons{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.button{
    background-color: #1976d2;
    border: 0px;
    color: #F4f4f4;
}
.button:hover{
    background-color: ;

}
.deleteBtn{
    background-color: red;
    color: #F4f4f4;
    border: 0px;
}

.deleteBtn:hover{
    background-color: darkred;
    border: 0px;
   
}

