.box{
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 400px;
    background-color: #F4f4f4;
    border-radius: 10px;
}

.box:hover{
    background-color: #F6f6f6;
}

.smallbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    justify-content: center;
    flex: 5;
}

.smallbox span{
    margin-left: 8px;
    color: gray;
}

.smallbox button{
    color: black;
    font-size: 14pt;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}

.deleteButton{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}

.deleteButton button{
    background-color: transparent;
    border: 0px;
}

.deleteButton button:hover{
    background-color: blueviolet;
    border: 1px;
}