
.body{
    background: color #000;;
    display:flex;
    align-items: center;
    
}

.content{
    position: fixed;
    top:0;
    left: 200px;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}