.container{
    display: flex;
    flex-direction:column;
    width:200px;
    overflow: scroll initial;
    background-color:#F6f6f6;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    gap: 5px;
}

.logo{
    width: 200px;
}

.button{
    background-color: #F4f4f4;
    color: black;
    border: 0px;
}

.button:hover{
    background-color: blueviolet;
}
