.container{
    display: flex;
    flex-direction:column;
    width:200px;
    overflow: scroll initial;
    background-color:rgb(33, 115, 246);
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    gap: 0px;
}

.container2{
    display: flex;
    flex-direction:column;
    background-color: white;
    width:200px;
    align-items: center;
}
.logo{
    width: 150px;
    padding: 20px;
}

.button{
    background-color:rgb(33, 115, 246);
    color: white;
    border-width: 1.5px;
    border-color: black;
    padding: 5px;
}

.button:hover{
    background-color:rgb(61, 130, 241);
}
