
.dflex{
  display: flex ;


}

.dflex2{
  flex: 1 1 auto;
  display: flex;
  height: 100vh;
 

}
.dflex3{
flex: 1 1 auto;
display: flex;
flex-flow: column;
height: 100vh;
overflow-y: hidden;
}

.Login {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  height: 95  vh;
  justify-content: center;
}

#logo{
  width: 200px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loginButton{
  height: 35px;
  border-width: 0px;
  border-radius: 12px;
  background-color: #00D16D;
  color: white;
}

#badLogin{
  color: red;
  text-align: center;
}
